@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Fonts*/
    --FF: "Barlow Semi Condensed", sans-serif;
    --FW500: 500;
    --FW600: 600;
    --FS: normal;

    /*COLORS-PRIMARY*/
    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);

    --White: hsl(0, 0%, 100%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: hsl(224, 10%, 45%);
    --Grey500: hsl(217, 19%, 35%);
    --Darkblue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

}

body{
    font-family: var(--FF);
    font-style: var(--FS);
    background-color: var(--White);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.main-section{
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
}

.containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 1110px;
    
}

.cards{
    display: block;
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    height: 90%;
    border: 2px solid red;
}

.cards img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--White);
}

.avatar-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}



blockquote{
    font-size: 1.2rem;
    line-height: 1.3;
}

.daniel-sec{
    background-color: var(--Purple500);
}

.jonathan-sec{
    background-color: var(--Grey500);
}

.jeanette-sec{
    background-color: var(--White);
}

.patrick-sec{
    background-color: var(--Darkblue);
}

.kira-sec{
    background-color: var(--White);
}

.daniel-sec{
    grid-column: 1 / span 2;
}

.jonathan-sec{
    grid-column: 3 / 4;
}

.jeanette-sec{
    grid-column: 1 / 2;
}

.patrick-sec{
    grid-column: 2 / span 2;
}

.kira-sec{
    grid-column: 4 /5;
    grid-row: 1 /2;
}

@media (max-width: 768px) {
    .containers{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
    }

}