@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Fonts*/
    --FF: "Barlow Semi Condensed", sans-serif;
    --FW500: 500;
    --FW600: 600;
    --FS: normal;

    /*COLORS-PRIMARY*/
    --Purple50: hsl(260, 100%, 95%);
    --Purple300: hsl(264, 82%, 80%);
    --Purple500: hsl(263, 55%, 52%);

    --White: hsl(0, 0%, 100%);
    --Grey100: hsl(214, 17%, 92%);
    --Grey200: hsl(0, 0%, 81%);
    --Grey400: hsl(224, 10%, 45%);
    --Grey500: hsl(217, 19%, 35%);
    --Darkblue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

}

body{
    font-family: var(--FF);
    font-style: var(--FS);
    background-color: var(--White);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "daniel daniel jonathan kira"
        " jeanette patrick patrick kira";
    gap: 1.5rem;
    width: 90%;
    max-width: 1110px;
    
}



.cards{
    background-color: var(--White);
    border-radius: 10px;
    padding: 20px; 
    width: 100%;
    height: auto;
    box-shadow: 0 10px  20px rgba(0, 0, 0, 0.139);
  text-align: left;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--White);
}

.profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.avatar-section{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile h3{
    font-size: 1rem;
}

.profile p{
    font-size: 0.8rem;
}

.quote{
    font-weight: bolder;
    margin-bottom: 1.5rem;
}


.daniel{
    background-color: var(--Purple500);
    color: var(--Grey100);
    grid-area: daniel;
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 30px;
    background-size: 80px;

}

.jonathan{
    background-color: var(--Grey500);
    grid-area: jonathan;
    color:var(--Grey100) ;
}

.jeanette{
    background-color: var(--White);
    grid-area: jeanette;
    color: var(--Grey400);
}

.patrick{
    background-color: var(--Darkblue);
    grid-area: patrick;
    color: var(--Grey200);
}

.kira{
    background-color: var(--White);
    grid-area: kira;
    color: var(--Grey400);
}



@media (max-width: 768px) {
    .containers{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "daniel"
            "jonathan"
            "jeanette"
            "patrick"
            "kira";
    }

}